<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.curso.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>Semana02_10_Projeto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductManager</display-name>
    <servlet-name>ProductManager</servlet-name>
    <servlet-class>com.curso.controller.ProductManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManager</servlet-name>
    <url-pattern>/ProductManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.curso.controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduto</display-name>
    <servlet-name>DeleteProduto</servlet-name>
    <servlet-class>com.curso.controller.DeleteProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduto</servlet-name>
    <url-pattern>/DeleteProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.curso.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduto</display-name>
    <servlet-name>AddProduto</servlet-name>
    <servlet-class>com.curso.controller.AddProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduto</servlet-name>
    <url-pattern>/AddProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyProduto</display-name>
    <servlet-name>ModifyProduto</servlet-name>
    <servlet-class>com.curso.controller.ModifyProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProduto</servlet-name>
    <url-pattern>/ModifyProduto</url-pattern>
  </servlet-mapping>
</web-app>