<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de Vacantes</title>
</head>
<body>
	<img th:src="@{/images/logo.png}" width="100"  >
	<h1>Lista de Vacantes</h1>

	 <table border="1">
	  <tr>
	  	<th>Logo</th>
	    <th>Id</th>
	    <th>Nombre</th>
	    <th>Salario Ofrecido</th>
	    <th>Descripción</th>
	    <th>Destacada</th>
	  </tr>
	  
	  <tr th:each="vacante : ${vacantes} ">
	    <td>
	    	<img th:src="@{/images/{img} ( img=${vacante.imagen} )  }" width="100"  >
	    </td>
	    <td th:text="${vacante.id}"></td>
	    <td th:text="${vacante.nombre}"></td>
	    <td th:text="${vacante.salario}"></td>
	    <td th:text="${vacante.descripcion}"></td>
	    <td>	    
	    	<span th:if="${vacante.destacado==1}" >Si</span>
	    	<span th:unless="${vacante.destacado==1}" >No</span>	    
	    </td> 
	  </tr>
	 
	</table> 
	
</body>
</html>