<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.curso.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>Semana02_04_BuscadorService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Entrada</display-name>
    <servlet-name>Entrada</servlet-name>
    <servlet-class>com.curso.Entrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entrada</servlet-name>
    <url-pattern>/Entrada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscador</display-name>
    <servlet-name>Buscador</servlet-name>
    <servlet-class>com.curso.controller.Buscador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscador</servlet-name>
    <url-pattern>/Buscador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscador2</display-name>
    <servlet-name>Buscador2</servlet-name>
    <servlet-class>com.curso.controller.Buscador2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscador2</servlet-name>
    <url-pattern>/Buscador2</url-pattern>
  </servlet-mapping>
</web-app>