<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Increver</display-name>
    <servlet-name>Increver</servlet-name>
    <servlet-class>com.curso.controllers.Increver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Increver</servlet-name>
    <url-pattern>/Increver</url-pattern>
  </servlet-mapping>
  <display-name>Semana02_07_EscrebirEnCurso</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SessionPersona</display-name>
    <servlet-name>SessionPersona</servlet-name>
    <servlet-class>com.curso.controllers.SessionPersona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionPersona</servlet-name>
    <url-pattern>/SessionPersona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionCurso</display-name>
    <servlet-name>SessionCurso</servlet-name>
    <servlet-class>com.curso.controllers.SessionCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCurso</servlet-name>
    <url-pattern>/SessionCurso</url-pattern>
  </servlet-mapping>
</web-app>